.gradle
build/
captures/
.cxx
local.properties
secret.properties
*.asc
.DS_Store
*.iml
.idea/
.kotlin/

# iOS / Xcode
xcuserdata/
*.xcuserstate
ios/Pods/
ios/build/
DerivedData/

# Fastlane
iosApp/fastlane/.env
iosApp/fastlane/report.xml
iosApp/fastlane/test_output/
iosApp/vendor/
iosApp/*.ipa
iosApp/*.app.dSYM.zip

.claude

firebase-service-account.json
firebase-service-account.json.asc
